---
import { Icon } from 'astro-icon/components';

interface Props {
  title: string;
  iconName: string;
  iconColor: string;
}

const { title, iconName, iconColor } = Astro.props;
---

<div class="space-y-8">
  <div class="flex items-center gap-4">
    <div class={`bg-${iconColor}-500/10 p-3 rounded-xl`}>
      <Icon name={iconName} class={`w-10 h-10 text-${iconColor}-400`} />
    </div>
    <h3 class="text-3xl font-bold text-white">{title}</h3>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <slot />
  </div>
</div>
